/* ======================================================
   OEFENEN MET CSS SELECTORS
========================================================= */

/* 1.1 Geef de 'img' tag in the header een ID en zet zijn breedte op 100% */

img#plaatje {
    width: 100%;
}

/* 1.2 Verander de kleur van alle list items in de unordered list naar hsl(110, 29%, 52%) */
li {
    color: hsl(110, 29%, 52%);
}

/* 1.3 Geef de 'span' tag in de footer een beschrijvende class name en maak de lettergrootte kleiner  */
.footerCopyWright {
    font-size: 20px;
}


/* 1.4 Haal de text-decoration van navigatie-links weg, geef onbezochte links de kleur hsl(359, 79%, 56%) en verander de kleur wanneer de gebruiker er overheen hovert. */
nav a:link {
    text-decoration: none;
    color: hsl(359, 79%, 56%);
}
nav a:hover {
    text-decoration: underline;
    color: hsl(359, 79%, 10%);
}
/* 1.5 Maak een hover- en visited stijl voor alle links in 'main'. */
/*Ik heb bewust voor test doeleinden gemakkelijk de kleur red gebruikt ipv hex of hsl*/
main a:visited {
    color: red;
}
/*Ik heb bewust voor test doeleinden gemakkelijk de kleur green gebruikt ipv hex of hsl*/
main a:hover {
    text-decoration: underline;
    color: green;
}



/* Verander de achtergrond van de SignUp button. Tip: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors  */
/*Ik heb bewust voor test doeleinden gemakkelijk de kleur red gebruikt ipv hex of hsl*/
input[type="submit"] {
    background-color: red;
}

/* Geef het tekst-veld een blauwe rand wanneer hij in focus is */
/*Ik heb bewust voor test doeleinden gemakkelijk de kleur red gebruikt ipv hex of hsl*/
input[type="text"]:focus {
    outline: none;
    border: 1px solid red;
}

/* Target alle heading tags op de pagina en zet hun font-family op 'Bree Serif', serif */
h1, h2, h3 {
    font-family: 'Bree Serif', 'serif';
}

